In [4]:
from ftplib import FTP
from pathlib import Path

import pandas as pd
import geopandas as gpd
from tqdm.notebook import trange, tqdm

import pandas as pd 
import metpy

import matplotlib.pyplot as plt
%matplotlib widget

In [2]:
%conda install ipympl

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.7.10
  latest version: 4.8.0

Please update conda by running

    $ conda update -n base conda



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
!jupyter labextension install jupyter-matplotlib

Building jupyterlab assets (build:prod:minimize)

In [5]:
df = pd.read_csv("geocoded_ghcn_2019.csv")

In [6]:
df.head()

,ID,DATE,LATITUDE,LONGITUDE,STATE,NAME,TMAX,TMIN
0,USC00141761,2019-01-01,39.5592,-97.6697,KS,CONCORDIA 1 W,-11.0,-139.0
1,USC00141761,2019-01-02,39.5592,-97.6697,KS,CONCORDIA 1 W,-78.0,-139.0
2,USC00141761,2019-01-03,39.5592,-97.6697,KS,CONCORDIA 1 W,28.0,NaN

In [8]:
fig, ax = plt.subplots()
df.groupby(['ID', 'DATE'])['TMAX'].mean().plot(ax=ax)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦